<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fiscalYear">
            <h2><span jhiTranslate="baseApp.fiscalYear.detail.title">Fiscal Year</span> {{fiscalYear.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.fiscalYear.code">Code</span></dt>
                <dd>
                    <span>{{fiscalYear.code}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalYear.dateStart">Date Start</span></dt>
                <dd>
                    <span>{{fiscalYear.dateStart}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalYear.dateFinish">Date Finish</span></dt>
                <dd>
                    <span>{{fiscalYear.dateFinish}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiscal-year', fiscalYear.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
