<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perPlan">
            <h2><span jhiTranslate="baseApp.perPlan.detail.title">Per Plan</span> {{perPlan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.perPlan.startDate">Start Date</span></dt>
                <dd>
                    <span>{{perPlan.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.dayNo">Day No</span></dt>
                <dd>
                    <span jhiTranslate="{{'baseApp.EnmDay.' + perPlan.dayNo}}">{{perPlan.dayNo}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.dersGrup">Ders Grup</span></dt>
                <dd>
                    <span jhiTranslate="{{'baseApp.EnmDersGrup.' + perPlan.dersGrup}}">{{perPlan.dersGrup}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.dersSira">Ders Sira</span></dt>
                <dd>
                    <span>{{perPlan.dersSira}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.dersAdet">Ders Adet</span></dt>
                <dd>
                    <span>{{perPlan.dersAdet}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.person">Person</span></dt>
                <dd>
                    <div *ngIf="perPlan.person">
                        <a [routerLink]="['/per-person', perPlan.person?.id, 'view']">{{perPlan.person?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="baseApp.perPlan.ders">Ders</span></dt>
                <dd>
                    <div *ngIf="perPlan.ders">
                        <a [routerLink]="['/def-item', perPlan.ders?.id, 'view']">{{perPlan.ders?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/per-plan', perPlan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
