<div>
    <h2 id="page-heading">
        <span jhiTranslate="baseApp.perPlan.home.title">Per Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-per-plan" [routerLink]="['/per-plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="baseApp.perPlan.home.createLabel">
            Create new Per Plan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'baseApp.perPlan.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="perPlans">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="baseApp.perPlan.startDate">Start Date</span></th>
            <th><span jhiTranslate="baseApp.perPlan.dayNo">Day No</span></th>
            <th><span jhiTranslate="baseApp.perPlan.dersGrup">Ders Grup</span></th>
            <th><span jhiTranslate="baseApp.perPlan.dersSira">Ders Sira</span></th>
            <th><span jhiTranslate="baseApp.perPlan.dersAdet">Ders Adet</span></th>
            <th><span jhiTranslate="baseApp.perPlan.person">Person</span></th>
            <th><span jhiTranslate="baseApp.perPlan.ders">Ders</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perPlan of perPlans ;trackBy: trackId">
                <td><a [routerLink]="['/per-plan', perPlan.id, 'view' ]">{{perPlan.id}}</a></td>
                <td>{{perPlan.startDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'baseApp.EnmDay.' + perPlan.dayNo}}">{{perPlan.dayNo}}</td>
                <td jhiTranslate="{{'baseApp.EnmDersGrup.' + perPlan.dersGrup}}">{{perPlan.dersGrup}}</td>
                <td>{{perPlan.dersSira}}</td>
                <td>{{perPlan.dersAdet}}</td>
                <td>
                    <div *ngIf="perPlan.person">
                        <a [routerLink]="['../per-person', perPlan.person?.id, 'view' ]" >{{perPlan.person?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="perPlan.ders">
                        <a [routerLink]="['../def-item', perPlan.ders?.id, 'view' ]" >{{perPlan.ders?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/per-plan', perPlan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/per-plan', perPlan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'per-plan/'+ perPlan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
