<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perPeriodState">
            <h2><span jhiTranslate="baseApp.perPeriodState.detail.title">Per Period State</span> {{perPeriodState.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.perPeriodState.periodState">Period State</span></dt>
                <dd>
                    <span jhiTranslate="{{'baseApp.EnmPeriodState.' + perPeriodState.periodState}}">{{perPeriodState.periodState}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perPeriodState.fiscalPeriod">Fiscal Period</span></dt>
                <dd>
                    <div *ngIf="perPeriodState.fiscalPeriod">
                        <a [routerLink]="['/fiscal-period', perPeriodState.fiscalPeriod?.id, 'view']">{{perPeriodState.fiscalPeriod?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="baseApp.perPeriodState.person">Person</span></dt>
                <dd>
                    <div *ngIf="perPeriodState.person">
                        <a [routerLink]="['/per-person', perPeriodState.person?.id, 'view']">{{perPeriodState.person?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/per-period-state', perPeriodState.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
