<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-per-daily-heading" jhiTranslate="baseApp.perDaily.home.createOrEditLabel">Create or edit a Per Daily</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!perDaily.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="perDaily.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perDaily.dersSira" for="field_dersSira">Ders Sira</label>
                    <input type="number" class="form-control" name="dersSira" id="field_dersSira"
                        [(ngModel)]="perDaily.dersSira" required max="15" jhiMax="15"/>
                    <div [hidden]="!(editForm.controls.dersSira?.dirty && editForm.controls.dersSira?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dersSira?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dersSira?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 15 }">
                            This field cannot be more than 15.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dersSira?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perDaily.hourStart" for="field_hourStart">Hour Start</label>
                    <input type="text" class="form-control" name="hourStart" id="field_hourStart"
                        [(ngModel)]="perDaily.hourStart" required maxlength="5"/>
                    <div [hidden]="!(editForm.controls.hourStart?.dirty && editForm.controls.hourStart?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hourStart?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hourStart?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perDaily.hourFinish" for="field_hourFinish">Hour Finish</label>
                    <input type="text" class="form-control" name="hourFinish" id="field_hourFinish"
                        [(ngModel)]="perDaily.hourFinish" required maxlength="5"/>
                    <div [hidden]="!(editForm.controls.hourFinish?.dirty && editForm.controls.hourFinish?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hourFinish?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hourFinish?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perDaily.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="perDaily.person" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="perPersonOption.id === perDaily.person?.id ? perDaily.person : perPersonOption" *ngFor="let perPersonOption of perpeople; trackBy: trackPerPersonById">{{perPersonOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
