<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-per-person-heading" jhiTranslate="baseApp.perPerson.home.createOrEditLabel">Create or edit a Per Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!perPerson.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="perPerson.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="perPerson.name" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="perPerson.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="perPerson.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.shift1" for="field_shift1">Shift 1</label>
                    <input type="number" class="form-control" name="shift1" id="field_shift1"
                        [(ngModel)]="perPerson.shift1" max="8" jhiMax="8"/>
                    <div [hidden]="!(editForm.controls.shift1?.dirty && editForm.controls.shift1?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift1?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.shift2" for="field_shift2">Shift 2</label>
                    <input type="number" class="form-control" name="shift2" id="field_shift2"
                        [(ngModel)]="perPerson.shift2" max="8" jhiMax="8"/>
                    <div [hidden]="!(editForm.controls.shift2?.dirty && editForm.controls.shift2?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift2?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift2?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.shift3" for="field_shift3">Shift 3</label>
                    <input type="number" class="form-control" name="shift3" id="field_shift3"
                        [(ngModel)]="perPerson.shift3" max="8" jhiMax="8"/>
                    <div [hidden]="!(editForm.controls.shift3?.dirty && editForm.controls.shift3?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift3?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.shift3?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.loginUser" for="field_loginUser">Login User</label>
                    <select class="form-control" id="field_loginUser" name="loginUser" [(ngModel)]="perPerson.loginUser" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === perPerson.loginUser?.id ? perPerson.loginUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>

            <p-table [columns]="valCols" [value]="personValLists" selectionMode="single" [(selection)]="selectedVal" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
                <ng-template pTemplate="caption">
                    Görev Yeri Tanımları
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                            <ng-template #nested_object_content>
                                {{rowData[col.field][col.subfield]}}
                            </ng-template>
                            <ng-template #normal_content>
                                {{rowData[col.field]}}
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <div style="text-align:left">
                        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
                    </div>
                </ng-template>
            </p-table>

            <p-dialog header="Seçim" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
                <div class="ui-g ui-fluid" *ngIf="selectedVal">
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="id">Id</label>
                        </div>
                        <div class="ui-g-8">
                            <input pInputText id="id" [(ngModel)]="selectedVal.id" />
                        </div>
                    </div>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="fa fa-close" (click)="deleteVal()" label="Delete"></button>
                        <button type="button" pButton icon="fa fa-check" (click)="saveVal()" label="Save"></button>
                    </div>
                </p-footer>
            </p-dialog>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>

    </div>
</div>
