<div>
    <h2 id="page-heading">
        <span jhiTranslate="baseApp.perPerson.home.title">Per People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-per-person" [routerLink]="['/per-person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="baseApp.perPerson.home.createLabel">
            Create new Per Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'baseApp.perPerson.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="perPeople">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="baseApp.perPerson.name">Name</span></th>
            <th><span jhiTranslate="baseApp.perPerson.email">Email</span></th>
            <th><span jhiTranslate="baseApp.perPerson.phone">Phone</span></th>
            <th><span jhiTranslate="baseApp.perPerson.shift1">Shift 1</span></th>
            <th><span jhiTranslate="baseApp.perPerson.shift2">Shift 2</span></th>
            <th><span jhiTranslate="baseApp.perPerson.shift3">Shift 3</span></th>
            <th><span jhiTranslate="baseApp.perPerson.loginUser">Login User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perPerson of perPeople ;trackBy: trackId">
                <td><a [routerLink]="['/per-person', perPerson.id, 'view' ]">{{perPerson.id}}</a></td>
                <td>{{perPerson.name}}</td>
                <td>{{perPerson.email}}</td>
                <td>{{perPerson.phone}}</td>
                <td>{{perPerson.shift1}}</td>
                <td>{{perPerson.shift2}}</td>
                <td>{{perPerson.shift3}}</td>
                <td>
                    {{perPerson.loginUser?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/per-person', perPerson.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/per-person', perPerson.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'per-person/'+ perPerson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
