<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-per-person-heading" jhiTranslate="baseApp.perPerson.home.createOrEditLabel">Create or edit a Per Person</h2>
            <div>
                <!--
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!perPerson.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="perPerson.id" readonly />
                </div>
                -->
                <div class="form-group" [hidden]="!perPerson.user">
                    <label for="user" jhiTranslate="baseApp.perPerson.user">ID</label>
                    <input type="text" class="form-control" id="user" name="user"
                           [(ngModel)]="perPerson.user.login" readonly />
                </div>
                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="perPerson.code" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="perPerson.name" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="perPerson.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.sozlesme" for="field_sozlesme">Sozlesme</label>
                    <select class="form-control" name="sozlesme" [(ngModel)]="perPerson.sozlesme" id="field_sozlesme" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="opt.id === perPerson.sozlesme ? perPerson.sozlesme : opt"
                                *ngFor="let opt of enmSozlesmeList; trackBy: trackEnumById">{{opt.label}}
                        </option>
                    </select>
                    <div [hidden]="!(editForm.controls.sozlesme?.dirty && editForm.controls.sozlesme?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sozlesme?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="perPerson.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="perPerson.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.okul" for="field_okul">Okul</label>
                    <select class="form-control" id="field_okul" name="okul" [(ngModel)]="perPerson.okul" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="perCompanyOption.id === perPerson.okul?.id ? perPerson.okul : perCompanyOption" *ngFor="let perCompanyOption of percompanies; trackBy: trackPerCompanyById">{{perCompanyOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.brans" for="field_brans">Brans</label>
                    <select class="form-control" id="field_brans" name="brans" [(ngModel)]="perPerson.brans" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === perPerson.brans?.id ? perPerson.brans : defItemOption" *ngFor="let defItemOption of bransItemList; trackBy: trackDefItemById">{{defItemOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.unvan" for="field_unvan">Unvan</label>
                    <select class="form-control" id="field_unvan" name="unvan" [(ngModel)]="perPerson.unvan" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === perPerson.unvan?.id ? perPerson.unvan : defItemOption" *ngFor="let defItemOption of unvanItemList; trackBy: trackDefItemById">{{defItemOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.kadro" for="field_kadro">Kadro</label>
                    <select class="form-control" id="field_kadro" name="kadro" [(ngModel)]="perPerson.kadro" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === perPerson.kadro?.id ? perPerson.kadro : defItemOption" *ngFor="let defItemOption of kadroItemList; trackBy: trackDefItemById">{{defItemOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.karyr" for="field_karyr">Karyr</label>
                    <select class="form-control" id="field_karyr" name="karyr" [(ngModel)]="perPerson.karyr" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === perPerson.karyr?.id ? perPerson.karyr : defItemOption" *ngFor="let defItemOption of karyrItemList; trackBy: trackDefItemById">{{defItemOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.konum" for="field_konum">Konum</label>
                    <select class="form-control" id="field_konum" name="konum" [(ngModel)]="perPerson.konum" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === perPerson.konum?.id ? perPerson.konum : defItemOption" *ngFor="let defItemOption of konumItemList; trackBy: trackDefItemById">{{defItemOption.label}}</option>
                    </select>
                </div>
                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.perPerson.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="perPerson.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === perPerson.user?.id ? perPerson.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                -->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
