<div>
    <h2>
        <span>Genel Tanımlar</span>
    </h2>

    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label class="form-control-label" for="field_def_type">Tanım Listesi</label>
        <select class="form-control" id="field_def_type" name="def_type" [(ngModel)]="comboSelModel.comboSel"
                (change)="onChangeComboSel($event)">
            <option [ngValue]="null"></option>
            <option [ngValue]="selectedOption"
                    *ngFor="let selectedOption of comboSelModel.comboList; trackBy: trackComboSel">
                {{selectedOption.label}}
            </option>
        </select>
    </div>

    <br/>

    <div>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-def-item" [routerLink]="['/def-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="baseApp.defItem.home.createLabel">
            Create new Def Item
            </span>
        </button>

        <button id="jh-view-entity"
                [routerLink]="['/def-item', selectedTreePlace==null?0:selectedTreePlace.data.id, 'view' ]"
                class="btn btn-info btn-sm">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">
                View
            </span>
        </button>

        <button id="jh-edit-entity"
                [routerLink]="['/def-item', selectedTreePlace==null?0:selectedTreePlace.data.id, 'edit']"
                class="btn btn-primary btn-sm">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">
                Edit
            </span>
        </button>


        <br/>


        <p>{{selectedTreePlace ? selectedTreePlace.data.code +':'+ selectedTreePlace.data.name : '-'}}</p>
        <p-treeTable [value]="singleSelectionTreeTable" selectionMode="single" [(selection)]="selectedTreePlace">
            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
            (onRowDblclick)="onRowDblclick($event)" >

            <p-header>Tree Selection</p-header>
            <p-column field="code" header="code"></p-column>
            <p-column field="name" header="name"></p-column>
            <p-column field="id" header="id"></p-column>
        </p-treeTable>
        <!--
        <p-treeTable [value]="singleSelectionTreeTable" [columns]="cols" selectionMode="single" [(selection)]="selectedTreePlace">
            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
            (onRowDblclick)="onRowDblclick($event)" >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
        -->
        <p>{{selectedTreePlace ? selectedTreePlace.data.code +':'+ selectedTreePlace.data.name : '-'}}</p>


        <!--
        <p-treeTable [value]="files">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr>
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{rowData.name}}
                    </td>
                    <td>{{rowData.size}}</td>
                    <td>{{rowData.type}}</td>
                </tr>
            </ng-template>
        </p-treeTable>
        -->
    </div>
    <br/>
</div>

<p-growl [value]="msgs"></p-growl>

