<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fiscalPeriod">
            <h2><span jhiTranslate="baseApp.fiscalPeriod.detail.title">Fiscal Period</span> {{fiscalPeriod.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.fiscalPeriod.code">Code</span></dt>
                <dd>
                    <span>{{fiscalPeriod.code}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.month">Month</span></dt>
                <dd>
                    <span>{{fiscalPeriod.month}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.week">Week</span></dt>
                <dd>
                    <span>{{fiscalPeriod.week}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.dateStart">Date Start</span></dt>
                <dd>
                    <span>{{fiscalPeriod.dateStart}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.dateFinish">Date Finish</span></dt>
                <dd>
                    <span>{{fiscalPeriod.dateFinish}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.entry">Entry</span></dt>
                <dd>
                    <span>{{fiscalPeriod.entry}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.fiscalYear">Fiscal Year</span></dt>
                <dd>
                    <div *ngIf="fiscalPeriod.fiscalYear">
                        <a [routerLink]="['/fiscal-year', fiscalPeriod.fiscalYear?.id, 'view']">{{fiscalPeriod.fiscalYear?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="baseApp.fiscalPeriod.donem">Donem</span></dt>
                <dd>
                    <div *ngIf="fiscalPeriod.donem">
                        <a [routerLink]="['/def-item', fiscalPeriod.donem?.id, 'view']">{{fiscalPeriod.donem?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fiscal-period', fiscalPeriod.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
