<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fiscal-period-heading" jhiTranslate="baseApp.fiscalPeriod.home.createOrEditLabel">Create or edit a Fiscal Period</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fiscalPeriod.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fiscalPeriod.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="fiscalPeriod.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.month" for="field_month">Month</label>
                    <input type="text" class="form-control" name="month" id="field_month"
                        [(ngModel)]="fiscalPeriod.month" required/>
                    <div [hidden]="!(editForm.controls.month?.dirty && editForm.controls.month?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.month?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.week" for="field_week">Week</label>
                    <input type="number" class="form-control" name="week" id="field_week"
                        [(ngModel)]="fiscalPeriod.week" required/>
                    <div [hidden]="!(editForm.controls.week?.dirty && editForm.controls.week?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.week?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.week?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.dateStart" for="field_dateStart">Date Start</label>
                    <div class="input-group">
                        <input id="field_dateStart" type="text" class="form-control" name="dateStart" ngbDatepicker  #dateStartDp="ngbDatepicker" [(ngModel)]="fiscalPeriod.dateStart"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateStartDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateStart?.dirty && editForm.controls.dateStart?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateStart?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.dateFinish" for="field_dateFinish">Date Finish</label>
                    <div class="input-group">
                        <input id="field_dateFinish" type="text" class="form-control" name="dateFinish" ngbDatepicker  #dateFinishDp="ngbDatepicker" [(ngModel)]="fiscalPeriod.dateFinish"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinishDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateFinish?.dirty && editForm.controls.dateFinish?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateFinish?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.entry" for="field_entry">Entry</label>
                    <input type="checkbox" class="form-control" name="entry" id="field_entry"
                        [(ngModel)]="fiscalPeriod.entry" />
                    <div [hidden]="!(editForm.controls.entry?.dirty && editForm.controls.entry?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.entry?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.fiscalYear" for="field_fiscalYear">Fiscal Year</label>
                    <select class="form-control" id="field_fiscalYear" name="fiscalYear" [(ngModel)]="fiscalPeriod.fiscalYear" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fiscalYearOption.id === fiscalPeriod.fiscalYear?.id ? fiscalPeriod.fiscalYear : fiscalYearOption" *ngFor="let fiscalYearOption of fiscalyears; trackBy: trackFiscalYearById">{{fiscalYearOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baseApp.fiscalPeriod.donem" for="field_donem">Donem</label>
                    <select class="form-control" id="field_donem" name="donem" [(ngModel)]="fiscalPeriod.donem" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="defItemOption.id === fiscalPeriod.donem?.id ? fiscalPeriod.donem : defItemOption" *ngFor="let defItemOption of defitems; trackBy: trackDefItemById">{{defItemOption.code}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
