<div>
    <h2 id="page-heading">
        <span jhiTranslate="baseApp.perSubmit.home.title">Per Submits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-per-submit" [routerLink]="['/per-submit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="baseApp.perSubmit.home.createLabel">
            Create new Per Submit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'baseApp.perSubmit.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="perSubmits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.submitDate">Submit Date</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.dersGrup">Ders Grup</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.dersSira">Ders Sira</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.dersAdet">Ders Adet</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.dayNo">Day No</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.person">Person</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.ders">Ders</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.excuse">Excuse</span></th>
            <th><span jhiTranslate="baseApp.perSubmit.periodState">Period State</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perSubmit of perSubmits ;trackBy: trackId">
                <td><a [routerLink]="['/per-submit', perSubmit.id, 'view' ]">{{perSubmit.id}}</a></td>
                <td>{{perSubmit.submitDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'baseApp.EnmDersGrup.' + perSubmit.dersGrup}}">{{perSubmit.dersGrup}}</td>
                <td>{{perSubmit.dersSira}}</td>
                <td>{{perSubmit.dersAdet}}</td>
                <td jhiTranslate="{{'baseApp.EnmDay.' + perSubmit.dayNo}}">{{perSubmit.dayNo}}</td>
                <td>
                    <div *ngIf="perSubmit.person">
                        <a [routerLink]="['../per-person', perSubmit.person?.id, 'view' ]" >{{perSubmit.person?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="perSubmit.ders">
                        <a [routerLink]="['../def-item', perSubmit.ders?.id, 'view' ]" >{{perSubmit.ders?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="perSubmit.excuse">
                        <a [routerLink]="['../per-excuse', perSubmit.excuse?.id, 'view' ]" >{{perSubmit.excuse?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="perSubmit.periodState">
                        <a [routerLink]="['../per-period-state', perSubmit.periodState?.id, 'view' ]" >{{perSubmit.periodState?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/per-submit', perSubmit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/per-submit', perSubmit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'per-submit/'+ perSubmit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
