<div>
    <p-growl [value]="msgs"></p-growl>
    <jhi-alert-error></jhi-alert-error>

    <h2>
        <span>Haftalık Giriş ve Onaylama </span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <span class="fa fa-refresh"></span> <span>Plan Uygula</span>
        </button>
    </h2>

    <p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>


<!--
    <p-schedule [events]="events" [header]="headerConfig" (onViewRender)="loadEvents($event)" locale="tr" [height]="700"
                [styleClass]="'schedule-width'" timeFormat="H" slotDuration="01:00:00" firstDay="6" displayEventTime=false
                [eventLimit]="18" [editable]="false" defaultView="agendaWeek" minTime="01:00:00" maxTime="19:00:00"
                (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"
                (onViewRender)="loadEvents($event)" (onViewDestroy)="handleViewDestroy($event)"
                (onDrop)="handleDrop($event)"></p-schedule>
-->
    <p-dialog header="Plan Detayları" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade"
              [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
            <div class="ui-grid-row">
                <label class="ui-grid-col-4" for="field_ders">Ders</label>
                <select class="ui-grid-col-8" id="field_ders" name="ders" [(ngModel)]="event.ders" required>
                    <option *ngIf="!event.ders" [ngValue]="null" selected></option>
                    <option [ngValue]="defItemOption.id === event?.ders?.id ? event.ders : defItemOption"
                            *ngFor="let defItemOption of dersItemList; trackBy: trackDefItemById">
                        {{defItemOption.label}}
                    </option>
                </select>
            </div>

            <div class="ui-grid-row">
                <label class="ui-grid-col-4" [hidden]="event.dersSira > 0" for="field_dersAdet">Adet</label>
                <input type="number" class="form-control" name="dersAdet" id="field_dersAdet"
                       [(ngModel)]="event.dersAdet" required max="18" [hidden]="event.dersSira > 0"/>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Kaydet"
                        [disabled]="!event?.start"></button>
                <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Sil"
                        [disabled]="!event?.id"></button>
            </div>
        </p-footer>
    </p-dialog>


</div>
