<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="defRelation">
            <h2><span jhiTranslate="baseApp.defRelation.detail.title">Def Relation</span> {{defRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.defRelation.parameter">Parameter</span></dt>
                <dd>
                    <span jhiTranslate="{{'baseApp.EnmParam.' + defRelation.parameter}}">{{defRelation.parameter}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.defRelation.typeSource">Type Source</span></dt>
                <dd>
                    <div *ngIf="defRelation.typeSource">
                        <a [routerLink]="['/def-type', defRelation.typeSource?.id, 'view']">{{defRelation.typeSource?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="baseApp.defRelation.typeTarget">Type Target</span></dt>
                <dd>
                    <div *ngIf="defRelation.typeTarget">
                        <a [routerLink]="['/def-type', defRelation.typeTarget?.id, 'view']">{{defRelation.typeTarget?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/def-relation', defRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
