<div>
    <h2>
        <span>Genel Tanımlar</span>
        <button class="btn btn-primary float-right jh-create-entity create-def-item"
                [routerLink]="['/', { outlets: { popup: 'def-item-new'
                    +'/'+(comboSelModel.comboSel==null?0:comboSelModel.comboSel.id)
                    +'/'+(comboSelModel.comboSel==null?'?':comboSelModel.comboSel.code)
                 } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down">
            Yeni Tanım
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label class="form-control-label" for="field_def_type">Tanım Listesi</label>
        <select class="form-control" id="field_def_type" name="def_type" [(ngModel)]="comboSelModel.comboSel"
                (change)="onChangeComboSel($event)">
            <option [ngValue]="null"></option>
            <option [ngValue]="selectedOption"
                    *ngFor="let selectedOption of comboSelModel.comboList; trackBy: trackComboSel">
                {{selectedOption.label}}
            </option>
        </select>
    </div>

    <br/>

    <div>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'def-item/'+ (selectedTreePlace==null?0:selectedTreePlace.data.id) + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary btn-sm">
            <span class="fa fa-pencil"></span>
            <span class="d-none d-md-inline">Değiştir</span>
        </button>
        <!--
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'def-item/'+ (selectedTreePlace==null?0:selectedTreePlace.data.id) + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger btn-sm">
            <span class="fa fa-remove"></span>
            <span class="d-none d-md-inline">Delete Secim</span>
        </button>
        -->
        <button type="submit"
                [routerLink]="['../def-answer-itemsource',
                    (selectedTreePlace==null?0:selectedTreePlace.data.id),
                    (selectedTreePlace==null?0:selectedTreePlace.data.typeId),
                    (selectedTreePlace==null?'?':selectedTreePlace.data.typeCode)
                 ]"
                class="btn btn-info btn-sm">
            <span class="fa fa-eye"></span>
            <span class="d-none d-md-inline">ilgiCevap</span>
        </button>

        <button type="submit"
                [routerLink]="['../def-type']"
                class="btn btn-primary btn-sm">
            <span class="fa fa-pencil"></span>
            <span class="d-none d-md-inline">Tipler</span>
        </button>


        <p-treeTable [value]="singleSelectionTreeTable" selectionMode="single" [(selection)]="selectedTreePlace">
            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
            (onRowDblclick)="onRowDblclick($event)" >

            <p-header>Tree Selection</p-header>
            <p-column field="code" header="code"></p-column>
            <p-column field="name" header="name"></p-column>
            <p-column field="id" header="id"></p-column>
        </p-treeTable>
        <p>{{selectedTreePlace ? selectedTreePlace.data.code +':'+ selectedTreePlace.data.name : '-'}}</p>
    </div>
    <br/>
</div>

<p-growl [value]="msgs"></p-growl>
