<div *ngIf="perDaily">
    <h2><span>Per Daily</span> {{perDaily.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Ders Sırası</span></dt>
        <dd>
            <span>{{perDaily.dersSira}}</span>
        </dd>
        <dt><span>Başlangıç Saati SS:DD</span></dt>
        <dd>
            <span>{{perDaily.hourStart}}</span>
        </dd>
        <dt><span>Bitiş Saati SS:DD</span></dt>
        <dd>
            <span>{{perDaily.hourFinish}}</span>
        </dd>
        <dt><span>Okul</span></dt>
        <dd>
            <div *ngIf="perDaily.okul">
                <a [routerLink]="['/per-company', perDaily.okul?.id]">{{perDaily.okul?.code}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'per-daily/'+ perDaily.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
