<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perCompany">
            <h2><span jhiTranslate="baseApp.perCompany.detail.title">Per Company</span> {{perCompany.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.perCompany.code">Code</span></dt>
                <dd>
                    <span>{{perCompany.code}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perCompany.name">Name</span></dt>
                <dd>
                    <span>{{perCompany.name}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.perCompany.sehir">Sehir</span></dt>
                <dd>
                    <div *ngIf="perCompany.sehir">
                        <a [routerLink]="['/def-item', perCompany.sehir?.id, 'view']">{{perCompany.sehir?.code}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="baseApp.perCompany.tipi">Tipi</span></dt>
                <dd>
                    <div *ngIf="perCompany.tipi">
                        <a [routerLink]="['/def-item', perCompany.tipi?.id, 'view']">{{perCompany.tipi?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/per-company', perCompany.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
