<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="defField">
            <h2><span jhiTranslate="baseApp.defField.detail.title">Def Field</span> {{defField.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="baseApp.defField.ordNo">Ord No</span></dt>
                <dd>
                    <span>{{defField.ordNo}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.defField.grpName">Grp Name</span></dt>
                <dd>
                    <span>{{defField.grpName}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.defField.fldCaption">Fld Caption</span></dt>
                <dd>
                    <span>{{defField.fldCaption}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.defField.selSelect">Sel Select</span></dt>
                <dd>
                    <span jhiTranslate="{{'baseApp.EnmSelect.' + defField.selSelect}}">{{defField.selSelect}}</span>
                </dd>
                <dt><span jhiTranslate="baseApp.defField.selType">Sel Type</span></dt>
                <dd>
                    <span>{{defField.selType.label}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/def-field', defField.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
